<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>무무</title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .mytitle > button {
            width: 200px;
            height: 50px;

            background-color: transparent;
            color: white;

            border-radius: 50px;
            border: 1px solid white;

            margin-top: 10px;
        }

        .mytitle > button:hover {
            border: 2px solid white;
        }

        .mycomment {
            color: gray;
        }

        .mycards {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 1200px;
        }

        .card {
            width: 95%;
            max-width: 95%;
            margin: auto;
        }

        body {
            background-image: url('static/horbak.jpg');
        }
    </style>

    <script>
        $(document).ready(function () {
            let userId = $('#hiddnInfo2').val()

            if (userId == "" || userId == null) {
                $('#commentBtn').hide()
            } else {
                $('#commentBtn').show()
            }

         })

        function save_comment() {
            let userStar = $('#star').val()
            let comment = $('#comment').val()
            let movieTitle = $('#hiddnInfo').val()
            let userId = $('#hiddnInfo2').val()

            $.ajax({
                type: 'POST',
                url: '/commentSave',
                data: {userStar_give: userStar, comment_give: comment,movieTitle_give: movieTitle, userId_give: userId},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })

        }
    </script>

</head>

<body>

<input type="hidden" value="{{ movieDetail[0]["title"] }}" id="hiddnInfo">
<input type="hidden" value="{{ payload }}" id="hiddnInfo2">

<div id="header">
</div>
<div class="mycards">
    <div class="row row-cols-1 row-cols-md-10 g-4" id="cards-box">
        <div class="col">
            <div class="card h-100" >
                <img src="{{ movieDetail[0]["image"] }}"
                     class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">제목 : {{ movieDetail[0]["title"] }}</h5>
                    <p>평론가 별점 : {{ movieDetail[0]["star"] }}</p>
                    <p>유저 별점 : {{ score }} </p>

                </div>
            </div>
        </div>
        <div class="card h-100"  >
            <label><b>줄거리</b></label><br>
                 <p class="card-text">{{ movieDetail[0]["desc"] }}</p>
        </div>
        <br>
    </div>
    <br>
</div>

<div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">별점</label>
        <select class="form-select" id="star">
            <option selected>-- 선택하기 --</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
    </div>
    <div class="form-floating">
        <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
        <label for="floatingTextarea2">코멘트</label>
    </div>
        <button onclick="save_comment()" id="commentBtn" type="button" class="btn btn-dark">댓글달기</button>

    <br><br>
    {% for con in comment %}
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ con.comment }}</p>
                {% if con.userStar == "1" %}
                <p>별점 : ⭐</p>
                {% endif %}
                {% if con.userStar == "2" %}
                <p>별점 : ⭐⭐</p>
                {% endif %}
                {% if con.userStar == "3" %}
                <p>별점 : ⭐⭐⭐</p>
                {% endif %}
                {% if con.userStar == "4" %}
                <p>별점 : ⭐⭐⭐⭐</p>
                {% endif %}
                {% if con.userStar == "5" %}
                <p>별점 : ⭐⭐⭐⭐⭐</p>
                {% endif %}
                <footer class="blockquote-footer">{{ con.commentUserId }}</footer>
            </blockquote>
        </div>
    </div>
    {% endfor %}

    <br><br>

<div id="footer">
</div>
</body>

<script>
    $(document).ready(function () {
        $("#header").load("./header");  // 원하는 파일 경로를 삽입하면 된다
        $("#footer").load("./footer");  // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
    });
</script>

</html>