<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style>
    #footer {
        position: absolute;
        width: 100%;
        padding: 0 25px;
        line-height: 30px;
        color: #8a8c8f;
        border-top: 1px solid #dee5e7;
        background-color: #333333;
        text-align: center;
        bottom: auto;
        color: white;
    }
</style>

<div id="footer">

<nav>
    <a href='https://anotherproblem.tistory.com/6' target='_blank'>Blog</a> |
    <a href='https://github.com/yalla12/miniProjectmumu.git' target='_blank'>Github</a>
</nav>
<p>
    <span>개발자 : 신선호, 장창균, 원중희, 이동건</span><br/>
    <span>이메일 : yalla12@naver.com</span><br/>
    <span>Copyright 2022. mumu. All Rights Reserved.</span>
</p>
</div>